<section fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="workoutForm">
    <mat-card fxFlex.xs="100%">
      <mat-card-title fxLayoutAlign="center"
        >Create a New Workout Program</mat-card-title
      >
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <input matInput placeholder="Workout Name" />
        </mat-form-field>
        <div>
          <button
            type="button"
            mat-flat-button
            color="accent"
            (click)="onAddExercise()"
          >
            Add an Exercise/Duration
          </button>
        </div>
        <div
          formArrayName="exercises"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
          fxLayout="column"
        >
          <div
            *ngFor="let exerciseCtr of exerciseControls; let i = index"
            [formGroupName]="i"
            fxLayout="row"
            fxLayoutGap="20px"
          >
            <mat-form-field *ngIf="!(isLoading$ | async) && availableExercises">
              <mat-label>Select an Exercise</mat-label>
              <mat-select required formControlName="exercise">
                <mat-option
                  *ngFor="let exercise of availableExercises"
                  [value]="exercise.code"
                >
                  {{ exercise.category }}: {{ exercise.type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Duration in Minutes (ex: 1, 1.5, 1.75, etc)"
                formControlName="duration"
                flex="1"
              />
            </mat-form-field>
            <button
              type="button"
              mat-icon-button
              color="warn"
              (click)="onRemoveExercise(i)"
            >
              <mat-icon>cancel_presentation</mat-icon>
            </button>
          </div>
        </div>
        <mat-spinner
          *ngIf="isLoading$ | async"
          style="margin:auto"
        ></mat-spinner>
      </mat-card-content>
    </mat-card>
  </form>
</section>
