mat-sidenav {
  height: 100%;
  width: 250px;
}

mat-icon {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: lightgrey;
}

.subnav {
  padding-left: 54px;
}
