<section fxLayout="column" fxLayoutAlign="center center">
  <h3>
    Current Training Program: {{ exercise.category }}: {{ exercise.type }}
  </h3>
  <h2 *ngIf="ready" style="text-align: center">
    <em>Get Ready...</em><br />
    <span style="font-size: 3em">{{ ready }}</span>
  </h2>
  <h4 *ngIf="!ready">Progress:</h4>
  <mat-progress-spinner
    *ngIf="ready === 0"
    mode="determinate"
    [value]="progress"
    color="accent"
  ></mat-progress-spinner>
  <h4 *ngIf="progress < 100">
    Time remaining:
    {{ minutesRemaining | number: '2.0-0' }}:{{
      (secondsRemaining < 60 ? secondsRemaining : 0) | number: '2.0-0'
    }}
    <span>{{ message }}</span>
  </h4>
  <h4 *ngIf="progress >= 100">{{ message }}</h4>
  <section
    *ngIf="progress < 100"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <button mat-flat-button color="accent" (click)="onPause()">
      Pause
    </button>
    <button mat-flat-button color="warn" (click)="onCancel()">
      Cancel
    </button>
  </section>
  <section
    *ngIf="progress >= 100"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <button mat-flat-button color="primary" (click)="setExercise()">
      Restart
    </button>
    <button mat-flat-button color="warn" (click)="onExitTraining()">
      Quit
    </button>
  </section>
</section>
