:host {
  display: flex;
  flex-basis: 95%;
  flex-direction: row;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card-actions {
  border-top: 1px solid lightgray;
}

table {
  width: 100%;
}

th {
  text-align: left;
}
