mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navigation-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: lightgrey;
}

button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
}
