<section fxLayout="column" fxLayoutAlign="center center">
  <h1>My Training Programs</h1>
  <mat-tab-group
    *ngIf="!(currentTraining$ | async)"
    fxFlexFill
    dynamicHeight="true"
    mat-align-tabs="center"
  >
    <mat-tab label="New Traing Programs">
      <app-new-training></app-new-training>
    </mat-tab>
    <mat-tab label="Past Traing Programs">
      <app-past-training></app-past-training>
    </mat-tab>
  </mat-tab-group>
  <app-current-training *ngIf="currentTraining$ | async"></app-current-training>
</section>
