<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
>
  <section fxFlex fxFlex.gt-xs="30">
    <h1>Activity</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia tellus
      vel ipsum mollis, ac luctus sapien placerat. Sed sagittis lacinia tortor,
      nec dapibus leo faucibus ac. Morbi ultrices arcu quis odio ornare, eu
      cursus est lobortis. In at urna eget sapien vestibulum interdum. In
      efficitur, enim sed vestibulum convallis, elit urna rutrum neque, vel
      iaculis enim nulla sed est.
    </p>
  </section>
  <section fxFlex fxFlex.gt-xs="30">
    <h1>Community</h1>
    <p>
      In tristique, magna vitae gravida bibendum, magna arcu imperdiet ligula,
      ut consequat dui ligula et augue. Integer risus dui, sagittis sed orci in,
      molestie finibus justo.
    </p>
  </section>
  <section fxFlex fxFlex.gt-xs="30">
    <h1>Challenges</h1>
    <p>
      Ut at orci tortor. Aliquam scelerisque, orci vitae faucibus ullamcorper,
      massa eros blandit ex, id luctus elit enim ac nulla. Fusce dictum posuere
      viverra. Pellentesque erat urna, pellentesque non orci id, rutrum feugiat
      erat.
    </p>
  </section>
</div>
